@use '../styles/utils/variables.scss' as *;

.Login {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__title{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;

    animation: shake 0.5s;
    animation-iteration-count: infinite;

    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
  }

  &__form{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input{
      padding: 15px;
      border-radius: 20px;
      border: none;
    }

    input:focus{
      outline: none;
      border: 3px solid $secondary;
      
    }

    &__buttons{
      display: flex;
      gap: 10px;


      button{
        padding: 10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 1.3rem;
      }

    }

    &__buttons__play:disabled{
      background-color: $secondary-light;
      opacity: 0.4;
      color: $text-dark;
    }

    &__buttons__play{
      background-color: $secondary;
      color: $text;

      &:hover{
        background-color: $secondary-dark;
      }
    }

    &__buttons__settings{
      background-color: $tertiary;
      color: $text-dark;

      &:hover{
        background-color: $tertiary-dark;
      }
    }
  }

  &__settings{
    // Modal settings
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 20px;
    
    &__content{
      // Modal content
      position: relative;
      width: 600px;
      height: 600px;
      background-color: $primary;
      padding: 25px;
      border-radius: 20px;
      border: none;
      box-shadow: 0 0 10px 0 $secondary-dark;

      &__closeBtn{
        // Align to the right
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        font-size: 2rem;
      }

      &__all{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;

        &__items{
          display: flex;
          flex-direction: column;
          gap: 20px;
          justify-content: center;
          align-items: center;

          select{
            width: 200px;
            padding: 10px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            font-size: .9rem;

            option{
              padding: 10px;
            }
          }

          &__category{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            gap: 10px;
          }

          &__difficulty{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            gap: 10px;
          }

          &__type{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            gap: 10px;
          }

          &__submit{
            margin-top: 1rem;
            button{
              padding: 10px;
              border-radius: 10px;
              border: none;
              cursor: pointer;
              width: 100%;
              font-size: 1.3rem;
              background-color: $secondary;

              &:hover{
                background-color: $secondary-dark;
              }
            }
          }
        }
      }
    }
  }
}