// Palleta de cores

$primary: #424242;
$primary-light: #6d6d6d;
$primary-dark: #1b1b1b;

$secondary: #81b29a;
$secondary-light: #ade4c7;
$secondary-dark: #53806d;

$tertiary: #f2cc8f;
$tertiary-light: #f5f1e6;
$tertiary-dark: #c19a5f;

$text: #f3f3f3;
$text-dark: #0a0a0a;
