@use '../styles/utils/variables.scss' as *;

.Header{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    padding: 30px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    margin: 0;
    margin-bottom: 1rem;

    img{
      border-radius: 50%;
    }

    label{
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
    }

    @media (max-width: 768px){
      justify-content: space-between;
      gap: 0;
    }
}